@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: lightpink;
    font-size: 1rem;
    
}

.box{
        width: 100vw;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
}

.love-line{

    margin-top: 30px;
    font-family: "Poppins";
    color: white;
}

.love-line:hover{

        /* font-size: 2.2rem; */
}

.btns{
        
        
        display: flex;
        flex-direction: row;
        gap: 50px;
         transform: translateX( 50px);
}

.btn{
        width: 100px;
        height: 40px;
        color: black;
        border-radius: 20px;
        transition: 0.3s;

}

.Yes:hover{

    border: 1px solid rgba(0, 0, 0, 0.959);
    color: black;
    font-weight:bolder;

    cursor: pointer;
    

    background-image: url(https://media.gettyimages.com/id/1368059545/vector/seamless-pattern-with-hearts.jpg?s=612x612&w=gi&k=20&c=IspJ6hPVHgJEZAOn_Hm4L0JJRt8ilb0HFm7G_zBfIhE=);
    
    background-size: cover;

}


.No:hover{

    border: 1px solid rgba(0, 0, 0, 0.959);
    color: black;
    font-weight:bolder;
    background-color: red;

    cursor: pointer;

}

#img{
        width: 220px;

        transform: translateX(30px);
        
}



    /* animation-name: No-Hover;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
} */


/* @keyframes No-Hover {

    0%{ transform: translate(00px,  0px);}

    25% {transform: translate( 100px, 90px);}

    50%{transform: translate( -200px, -200px);}

    75%{transform: translate( 300px, 200px);}

    100%{transform: translate( 41px, -100px);}
    
} */